*{
    padding: 0;
    margin: 0;
}
:root{
    --bg-color: blueviolet ;
    --primary-color: rgb(243, 239, 247);
    --secundary-color: rgb(193, 186, 200);
    --estilo-fonte: ;
}
body{
    background-color: var(--bg-color);
    color: var(--primary-color);
} 
.barra{
    position: fixed;
    width: 100%;
    text-align: center;
    font-size: 2rem;
    padding: 1.5rem;
    background-color: var(--secundary-color);
    box-shadow: 1px 3px var(--primary-color);
}